<nav>
    <div>

        <h1><a href="/">Scrapper News Network</a></h1>
        <h1>
            <ul>
                <li><a href="/scrape">Scrape</a></li>
                <li><a href="https://github.com/jpimentel45/scraper">Git Repo</a></li>
            </ul>
        </h1>
    </div>
</nav>