<nav>
    <div>
        <a href="/">Scrapper News Network</a>
        <ul>
            <li><a href="/scraped">Scrape</a></li>
            <li><a href="https://github.com/jpimentel45/scraper/tree/master/onionScrapper">Git Repo</a></li>
        </ul>
    </div>
</nav>