body {
    background-color: #F2F6D0
}

#wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    text-align: center;
}

#articles {
    flex-wrap: wrap;
    display: flex;
}

p {
    flex: 1 1 33.33%;
}

ul {
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    place-content: center;
    justify-content: space-evenly;
}

#notes {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    width: 30%;
}

textarea, input {
    display: block;
    width: 100%;
    background-color: #FCF5C7;
}

input {
    height: 36px;
    font-size: 24px;
}

textarea {
    height: 200px;
    font-size: 18px;
}