<nav>
    <div>
        <a href="/">Scrapper News Network</a>
        <ul>
            <li><a href="/scraped">Scrape</a></li>
            <li><a href="https://githun.com">Git Repo</a></li>
        </ul>
    </div>
</nav>