<nav>
    <div>

        <h1><a href="/">Scrapper News Network</a></h1>
        <h1>
            <ul>
                <li><a href="/scraped">Scrape</a></li>
                <li><a href="https://githun.com">Git Repo</a></li>
            </ul>
        </h1>
    </div>
</nav>