<h1> This Is The Articles HBS</h1>
<div class="">
    <div class="">
        {{#each Article}}
        <div class="">
            <h4>{{this.title}}</h4>
            <a href="/readArticle/{{this._id}}">Read Article</a>

        </div>

        {{/each}}
    </div>
</div>